<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true"
                           httpGetUrl="http://localhost:8080/evals/meta" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="Default"
               name="EvalServiceLibrary.EvalService">
        <endpoint address="http://localhost:8080/evals/basic"
                  binding="basicHttpBinding"
                  contract="EvalServiceLibrary.IEvalService" />
        <endpoint address="http://localhost:8080/evals/basic2"
                  binding="basicHttpBinding"
                  contract="EvalServiceLibrary.IEvalService" />
        <endpoint address="http://localhost:8080/evals/ws"
                  binding="wsHttpBinding"
                  contract="EvalServiceLibrary.IEvalService" />
        <endpoint address="net.tcp://localhost:8081/evals"
                  binding="netTcpBinding"
                  contract="EvalServiceLibrary.IEvalService" />
        <endpoint address="net.pipe://localhost/evals"
                  binding="netNamedPipeBinding"
                  contract="EvalServiceLibrary.IEvalService" />
        <endpoint address="http://localhost:8080/evals/mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"/>
        <endpoint address="net.tcp://localhost:8081/evals/mex"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>